#integracao2{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.vermelha {
    color: red;
}

.azul {
    color: blue;
}

.branca {
    color: white;
}