.porta {
	display: flex;
	flex-direction: column;
	background-color: chocolate;
	padding: 15px;
	font-family: sans-serif;

	width: var(--area-porta-largura);
	height: var(--area-porta-altura);
	align-items: center;
}

.numero {
	font-size: 3rem;
	color: #FFF;
}